
/*公共样式*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.rgb53{
	color: rgb(53,53,53);
	font-family: "微软雅黑";
}
.rgb154{
	color: rgb(154,154,154);
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	color: rgb(53,53,53);
}
li{
	list-style: none;
}
body{
	background: rgb(246,248,249);
}
/*content*/
.content{
	background: #fff;
	padding: 20px 80px;
	width: 55%;
	height: auto;
	overflow: hidden;
	margin: 50px auto;
	border: 1px solid #eee;
	border-radius: 6px;
	box-shadow: 1px 1px 1px 1px rgb(241,243,245);
	position: relative;
}
.content>ul{
	overflow-x: hidden;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.icon{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.class_name{
	width: 25%;
	padding: 50px 0 20px 0;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}
.class_name_active p{
	color: #1aad19;
}
.contentBlock{
	display: none;
}
.contentBlock-active{
	display: block;
}
.contentBlock ul{
	padding: 10px 20px 50px 40px;
}
.posts{
	cursor: pointer;
	padding: 20px 0;
}
.posts span{
	font-size: 14px;
}
.morePosts{
	display: inline;
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 60px;
	font-size: 14px;
	color: rgb(87,140,149);
}
.morePosts i{
	color: rgb(87,140,149);
	font-size: 14px;
}
/*帖子列表*/
.contentList{
	background: #fff;
	padding: 80px;
	width: 55%;
	margin: 10px auto;
	border: 1px solid #eee;
	border-radius: 6px;
	box-shadow: 1px 1px 4px 2px rgb(241,243,245);
	position: relative;
}
.listHead{
	width: 100%;
	border-bottom: 1px solid #eee;
	font-size: 28px;
}
.write{
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #1aad19;
	border-radius: 6px;
	text-align: center;
	padding: 10px 20px;
	color: #1aad19;
	display: flex;
	align-items: center;
}
.write i{
	font-size: 22px;
	color: #1aad19;
	margin-right: 5px;
}
.write:hover{
	color: rgb(23,137,57);
	border: 1px solid rgb(23,137,57);
}
.write:hover i{
	color: rgb(23,137,57);
}
.listClassify{
	font-size: 18px;
	padding: 10px 0 0 0;
	width: 100%;
	height: 40px;
	clear: both;
	overflow: hidden;
}
.listClassify li{
	cursor: pointer;
	padding: 10px 20px;
}
.listClassify li:hover{
	border-bottom: 2px solid #aaa;
}
.listClassify li.selected{
	color: #1aad19;
	border-bottom: 2px solid #1aad19;
}
/*标签*/
.labelBox{
	width: 100%;
	padding: 20px 0;
}
.labelBox ul{
	height: auto;
	overflow-x: hidden;
	padding-left: 20px;
}
.labelBox ul li{
	cursor: pointer;
	padding: 8px 10px;
	margin-right: 10px;
	margin-top: 10px;
	background: #eee;
	border-radius: 6px;
	font-size: 14px;
	color: rgb(154,154,154);
}
.labelBox ul li:hover{
	background: #aaa;
	color: #fff;
}
.lists{
	/*height: 950px;*/
	/*overflow-y: hidden;*/
}
.lists_active{
	display: block;
}
.list-item{
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}
.item-title{
	margin: 20px 0;
	font-size: 18px;
}
.detail-info{
	margin: 20px 0 0 0;
	font-size: 14px;
}
.detail-info i{
	font-size: 18px;
	color:#aaa;
	margin-right: 5px;
}
.nickName,.time{
	margin-right: 20px;
}
.view,.conmment{
	margin-left: 20px;
}
.baseLine{
	text-align: center;
	padding: 10px;
	color: #aaa;
	font-size: 14px;
}
.IEmask{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999999999;
	display: none;
}